h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
}

body {
  background: url("../../images/bg-top.svg") right -52vw top -6vh no-repeat, #f6f6fe;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 4rem 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.header__title {
  font-size: 2rem;
  font-weight: 700;
}
.header__toggle-price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
.header__switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 32px;
}
.header__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.header__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  transition: 0.4s;
}
.header__slider::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.header input:checked + .header__slider:before {
  transform: translateX(24px);
}
.header__slider.round {
  border-radius: 34px;
}
.header__slider.round:before {
  border-radius: 50%;
}
.header__period {
  font-weight: 600;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  min-width: 330px;
  max-width: 500px;
}
.card__plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  padding: 2rem 1.5rem 1.5rem;
  border-radius: 10px;
  color: #000;
  box-shadow: 5px 5px 30px rgba(179, 181, 198, 0.4784313725);
}
.card__plan:nth-child(2) {
  background: linear-gradient(to top, #696fdd, #a3a8f0);
  color: #fff;
}
.card__plan:nth-child(2) .card__button {
  background: #fff;
  color: #696fdd;
  border: 1px solid #696fdd;
  transition: color 0.2s ease, border 0.2s ease, background 0.2s ease;
}
.card__plan:nth-child(2) .card__button:hover {
  color: #fff;
  border: 1px solid #fff;
  background: #696fdd;
}
.card__plan:nth-child(2) .card__button::after {
  content: none;
}
.card__plan:nth-child(2) hr {
  border: 1px solid #fff;
}
.card__plan-title {
  font-weight: 800;
  font-size: 1.1rem;
  padding-top: 0.1rem;
}
.card__plan-price {
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.card__plan-price span[data-price] {
  font-size: 4.5rem;
}
.card__plan-benefits-container {
  width: 100%;
  text-align: center;
}
.card__plan-benefits-container hr {
  margin: 0.7rem auto;
  width: 95%;
  border: 1px solid #b3b5c6;
  opacity: 0.5;
}
.card__plan-benefits {
  font-size: 0.95rem;
  font-weight: 700;
  padding: 0.3rem 0;
}
.card__button {
  padding: 0.9rem;
  margin: 0.5rem auto;
  width: 95%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.85rem;
  font-weight: 700;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  border: 1px solid #fff;
  transition: color 0.2s ease, background 0.2s ease, border 0.2s ease;
  position: relative;
  z-index: 1;
}
.card__button::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: opacity 0.2s ease;
  z-index: -1;
}
.card__button:hover {
  color: #696fdd;
  background: transparent;
  border: 1px solid #696fdd;
}
.card__button:hover::after {
  opacity: 0;
}

.footer {
  display: none;
}

@media screen and (min-width: 1070px) {
  body {
    background: url("../../images/bg-top.svg") right top no-repeat, url("../../images/bg-bottom.svg") left bottom no-repeat, #f6f6fe;
    gap: 5.5rem;
    margin: 4.5rem 0;
    align-items: center;
    justify-content: center;
  }
  .card {
    flex-direction: row;
    justify-content: center;
    gap: 0;
    max-width: 1100px;
  }
  .card__plan {
    justify-content: center;
    min-width: 350px;
    padding: 2rem 2rem 1.25rem;
  }
  .card__plan:nth-child(1) {
    border-radius: 10px 0 0 10px;
  }
  .card__plan:nth-child(2) {
    margin: -1.5rem 0;
  }
  .card__plan:nth-child(3) {
    border-radius: 0 10px 10px 0;
  }
  .card__plan-benefits-container hr {
    width: 100%;
  }
  .card__button {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */